.btn {
    display: inline-block;
    cursor: pointer;
}

.btn-primary {
    display: inline-block;
    margin: -10px 0;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 20px 25px;
    text-align: center;
    transition: all 0.3s;
    text-decoration: none;
    width: 100%;
    padding: 20px 0;
    font-family: Montserrat;
    font-weight: 700;

}

.btn-icon {
    margin-right: 8px;
}