.text-size-1 {
    font-size: 14px;
}

.heading {
    font-family: Montserrat;
    margin-top: 0px;
    letter-spacing: 6px;
    margin-bottom: -10px;
}

.title {
    font-family: Fraunces;
    /*padding: 48px;*/
    font-size: 40px;
    line-height: 43px;
}

.description {
    font-family: Montserrat;
    /*padding: 48px;*/
    line-height: 30px;
    font-size: 18px;
    margin-bottom: -10px;
}